:root {
	--off-bt: #9f9f9f;
	--on-bt: white;
}

@keyframes slideEffect {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}


.button-slide-effect {
    background: linear-gradient(to right, var(--on-bt) 50%, var(--off-bt) 50%);
    background-size: 200% 100%;
    animation: slideEffect 5s forwards;
}